<div class="detail-box">
  <div></div>
  <div class="stepper-box">

    <div *ngIf="shouldSpinner" style="position: center">
      <div></div>
      <mat-spinner style="padding-top: 100px"></mat-spinner>
    </div>
    
    <mat-vertical-stepper style="width: 100%" *ngIf="shouldSpinner == false">
      <mat-step *ngFor="let tx of transactions">
        <ng-template matStepLabel> {{transform(tx.state.state)}} </ng-template>
        <!--        订单创建-->
        <div *ngIf="tx.state.state == 'UNPROCESSED'">
          <mat-card class="card-box">
            <mat-card-title>
              ID:    「{{tx.state.order_create_state.id}}」
            </mat-card-title>
            <mat-card-subtitle>
              {{tx.timestamp}}
            </mat-card-subtitle>
            <p><b>货物名称:</b> {{tx.state.order_create_state.name}}</p>
            <p><b>发货方:</b>     {{tx.state.order_create_state.client}}</p>
            <p><b>收货方: </b>   {{tx.state.order_create_state.receiver}}</p>
            <p><b>出发地: </b>    {{tx.state.order_create_state.source}}</p>
            <p><b>目的地:  </b>  {{tx.state.order_create_state.destination}}</p>
            <p><b>订单描述: </b> {{tx.state.order_create_state.description}}</p>
            <p></p>
          </mat-card>
        </div>

        <!--        运输状态-->
        <div *ngIf="tx.state.state == 'TRANSPORTING'">
          <mat-card class="card-box">
            <mat-card-title>
              ID:    「{{tx.state.transport_state.goods_id}}」
            </mat-card-title>
            <mat-card-subtitle>
              {{tx.timestamp}}
            </mat-card-subtitle>
            <p><b>运输负责人:</b>     {{tx.state.transport_state.transport.principal}}</p>
            <p><b>运输开始时间:  </b>   {{tx.state.transport_state.transport.start_time}}</p>
            <p><b>运输车牌号: </b>    {{tx.state.transport_state.transport.car_id}}</p>
            <p><b>运输出发地: </b>    {{tx.state.transport_state.transport.source}}</p>
            <p><b>运输目的地:  </b>  {{tx.state.transport_state.transport.destination}}</p>
            <p></p>
          </mat-card>
        </div>

        <div *ngIf="tx.state.state == 'WAREHOUSING'">
          <mat-card class="card-box">
            <mat-card-title>
              ID:    「{{tx.state.warehouse_state.goods_id}}」
            </mat-card-title>
            <mat-card-subtitle>
              {{tx.timestamp}}
            </mat-card-subtitle>
            <p><b>仓库ID:</b>     {{tx.state.warehouse_state.storage_position.warehouse_id}}</p>
            <p><b>仓库名称:  </b>   {{tx.state.warehouse_state.storage_position.warehouse_name}}</p>
            <p><b>区域ID:</b>     {{tx.state.warehouse_state.storage_position.zone_id}}</p>
            <p><b>货架ID: </b>    {{tx.state.warehouse_state.storage_position.self_id}}</p>
            <p><b>具体位置:</b>    {{tx.state.warehouse_state.storage_position.position}}</p>
            <p></p>
          </mat-card>
        </div>

        <div *ngIf="tx.state.state == 'RECEIVED'">
          <mat-card class="card-box">
            <mat-card-title>
              已确认收货
            </mat-card-title>
            <mat-card-subtitle>
              {{tx.timestamp}}
            </mat-card-subtitle>
          </mat-card>
        </div>

      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div></div>
</div>
