.box {
  display: flex;
  justify-content: space-between;
  box-shadow:
    0px 6px 2px -4px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.14),
    0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.button-box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-direction: row;
}